/* You can add global styles to this file, and also import other style files */

// .county {
//   fill: #ebf0e4;
//   stroke: rgb(128, 128, 128);
//   stroke-width: 0.5px;
// }

.county:hover {
  fill: white;
  stroke: rgb(193, 213, 215);
  stroke-width: 3px;
  transition: 0.5s;
  transform: translateX(3px);
}

body{
  background-color: #E7E7E7;
}

.clicked{
  fill: rgb(255, 255, 255), 233, 240;
  stroke: rgb(255, 255, 255);
  stroke-width: 1px;
}
